proxy:
  # secretToken in secrets.yaml
  # Use static IP
  service:
    loadBalancerIP: 35.225.189.212
  https:
    enabled: true
    hosts:
      - rhodes-notebook.org
    letsencrypt:
      contactEmail: superdockm@rhodes.edu
  chp:
    resources:
      requests:
        cpu: 200m
        memory: 512Mi

singleuser:
  image:
    # Docker container used for spawning user servers.
    # Configured for Rhodes with required libraries installed.
    name: gcr.io/rhodes-cs/nb_server_comp141
    # When upgrading the docker image, update the tag.
    # Tags should be in the namespace YYYY_MM_DDrcVV
    tag: 2026_01_07rc01
  # TODO: support different images
  # e.g.,
  # profileList:
  #   - display_name: "COMP141"
  #     description: "Notebook environment for COMP141"
  #     default: true
  #     # TODO: move nbgitpuller sync here 
  #   - display_name: "Machine Learning/Tensorflow"
  #     description: "Notebook environment with Tensorflow"
  #     kubespawner_override:
  #       image: jupyter/tensorflow-notebook
  #       cpu_guarantee: 1
  #       cpu_limit: 2
  #       mem_guarantee: 2G
  #       mem_limit: 6G
  #   - display_name: "R (Statistics)"
  #     description: "R notebooks for stats courses"
  #     kubespawner_override:
  #       image: jupyter/r-notebook
  # user resource limits
  memory:
    limit: 1G
    guarantee: 1G
  cpu:
    limit: 0.5
    guarantee: 0.1
  storage:
    capacity: 5Gi
    dynamic:
      storageClass: jupyterhub-user-pd
  # default to pre-JupyterLab interface.
  # TODO(langm): Update to jupyter_server.serverapp.ServerApp and use
  #              nbclassic to reskin the UI. See documentation:
  #              https://z2jh.jupyter.org/en/stable/jupyterhub/customizing/user-environment.html#use-classic-notebook-by-default
  defaultUrl: /tree/
  extraEnv:
    # default to old server app.
    JUPYTERHUB_SINGLEUSER_APP: "notebook.notebookapp.NotebookApp"
    # sorry.
    EDITOR: "vim"
  # Synchronize the libraries repository.
  lifecycleHooks:
    postStart:
      exec:
        # Note that the gitpuller command below depends on our nbgitpuller fork,
        # as the flags do not exist in the upstream repository. If we choose to
        # revert to the default version, we must update the gitpuller command
        # below to elide the flags.
        command:
          [
            "sh",
            "-c", 
            "{ gitpuller https://github.com/Rhodes-CS-Department/comp141-sp26 main comp141-sp26 --skip_rename --retry_merge \
             || gitpuller https://github.com/Rhodes-CS-Department/comp141-sp26 main comp141-sp26 ; } 2>&1 | tee -a /tmp/startup_log",
          ]

cull:
  # kill servers idle for 1 hours, every hour.
  timeout: 3600
  every: 3600
  enabled: true

hub:
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
  config:
    Authenticator:
      admin_users:
      - superdockm@rhodes.edu
      - trenthem@rhodes.edu
      - walkerd@rhodes.edu
      - kirlinp@rhodes.edu
      - larkinsb@rhodes.edu
      - sandersb@rhodes.edu
      - welshc@rhodes.edu
      - catie.welsh@gmail.com
      - betswms@gmail.com
      - pkirlin@gmail.com
      - cowanj@rhodes.edu
      - kingj2@rhodes.edu
      - mcevilyg@rhodes.edu
    GenericOAuthenticator:
      allow_all: true
      authorize_url: https://rhodes.onelogin.com/oidc/2/auth
      basic_auth: true
      # client_id and client_secret in secrets.yaml
      login_service: OneLogin
      oauth_callback_url: https://rhodes-notebook.org/hub/oauth_callback
      scope:
      - openid
      - profile
      token_url: https://rhodes.onelogin.com/oidc/2/token
      userdata_params:
        state: state
      userdata_url: https://rhodes.onelogin.com/oidc/2/me
      username_claim: email
    JupyterHub:
      authenticator_class: generic-oauth
    # Delete a user's PVC when the user is deleted.
    KubeSpawner:
      delete_pvc: true

# Ensure images are always available on nodes.
prePuller:
  hook:
    enabled: true
    resources:
      requests:
        cpu: 0
        memory: 0
  continuous:
    enabled: true
  resources:
    requests:
      cpu: 0
      memory: 0

scheduling:
  podPriority:
    enabled: true
    globalDefault: false
    defaultPriority: 0
    userPlaceholderPriority: -10
  userPlaceholder:
    # Hold extra spots for new arrivals.
    # n1-highmem-2 has 2 vCPU and 13GB core. With overhead, this is ~10
    # severs/node. Reserving 10 slots for new arrivals optimizes for start time
    # by overprovisioning by one node.
    # TODO: reduce overprovisioning during trough usage.
    replicas: 10
  # Pin user pods to user pool.
  userPods:
    nodeAffinity:
      matchNodePurpose: require
  # Minimize resource usage by bin packing (as opposed to least-loaded).
  userScheduler:
    enabled: true
    resources:
      requests:
        cpu: 50m
        memory: 256Mi
